* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f0f0f;
}

.wrapper {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
}

.red {
  width: 80px;
  height: 80px;
  background: orangered;
  box-shadow: 0 0 10px 5px orangered;
}

.orange {
  width: 60px;
  height: 60px;
  background: orange;
  box-shadow: 0 0 12px 6px orange;
}

.gold {
  width: 45px;
  height: 45px;
  background: gold;
  box-shadow: 0 0 9px 4px gold;
}

.white {
  width: 35px;
  height: 35px;
  background: lightyellow;
  box-shadow: 0 0 9px 4px lightyellow;
}

.blue {
  width: 15px;
  height: 15px;
  background: darkblue;
  box-shadow: 0 0 15px 10px darkblue;
}

.black {
  position: absolute;
  bottom: -50px;
  width: 40px;
  height: 40px;
  background: #0f0f0f;
  box-shadow: 0 0 15px 10px #0f0f0f;
}

.flame-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  animation: flicker 3ms ease-in infinite;
}

@keyframes flicker {
  0% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(2deg) scaleY(1.05);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg) scaleY(0.9);
  }
  100% {
    transform: rotate(1deg);
  }
}

.flame {
  bottom: 0;
  position: absolute;
  border-radius: 50% 0 50% 50%;
  transform: rotate(-45deg);
}

.base {
  border-radius: 50%;
  position: absolute;
}
