@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    300deg,
    #25172a,
    #391f3c,
    #4e254d,
    #602a56,
    #732e5b,
    #85305b,
    #973156,
    #a9314a
  );
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* overflow-x: hidden; */
}

nav.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
}

main,
footer,
nav {
  width: 100%;
}

@media (min-width: 1200px) {
  main,
  footer,
  nav {
    width: 1200px;
  }
}

header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #010101;
}

nav.navbar h2 {
  color: #d4173d;
  height: fit-content;
  width: fit-content;
}

ul.menu_navbar {
  display: flex;
  gap: 10px;
}

ul.menu_navbar li {
  text-decoration: none;
  list-style: none;
}

.parallax {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto_parallax {
  /* background: #0f0f0f; */
  background: rgba(219, 26, 26, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  z-index: 10;
  flex: 5;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  text-align: center;
  padding: 5rem;
  height: fit-content;
}

.texto_parallax h2 {
  color: #d4173d;
  font-size: 4rem;
}
.texto_parallax p {
  color: #a0112e;
  font-size: 1.7rem;
  font-weight: 500;
}
.imagens_parallax {
  position: relative;
  height: 60vh;
  flex: 8;
  /* overflow: hidden; */
}

.imagens_parallax img.img_pipoca {
  position: absolute;
  right: -21rem;
  bottom: -9rem;
  transform: rotateZ(-25deg) scale(1.3);
  /* box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.2); */
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
}

img.img_sala {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parallax_background {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  height: 100%;
  width: calc(100vw - 9px);
  background: #0f0f0f;
  z-index: -1;
  overflow: hidden;
}

.parallax_wrapper {
  position: relative;
  z-index: 1;
}

.cinema_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.cinema_container img {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  /* right: 0; */

  object-fit: cover;
  /* left: -100vw; */
}

#c1 {
  z-index: 10;
  display: none;
}

#c2 {
  z-index: 100000000000;
  /* display: none; */
}

#c3 {
  z-index: 10;
}
